########################################################## created at --> 2020-10-24_20-11-57 ##########################################################
armaclass @ git+https://github.com/overfl0/Armaclass.git@f1bb7ec8fe10ba3b25751dad72bf3d99315c21a9
checksumdir==1.2.0
click==7.1.2
et-xmlfile==1.0.1
fuzzywuzzy==0.18.0
jdcal==1.4.1
Jinja2==2.11.2
MarkupSafe==1.1.1
openpyxl==3.0.5
python-dotenv==0.14.0
python-Levenshtein==0.12.0
